<head>
  <%- include('../partials/head'); %>
  <style>
      .parent-div {
          width: 100%;
          margin: 0 auto;
      }
      .child-div {
          width: 50%;
          margin: 0 auto;
          text-align: center;
      }
      table {
        /* border-collapse: collapse; */
        width: 100%;
      }
      
      td, th {
        border: 1px solid #393737;
        text-align: left;
        padding: 7px;
      }

      .center {
          left: 50%;
      }
      </style>
</head>
<body class="container" style="background-color:#f8f9fa">


<header>
    <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron" style="background-color:powderblue;">
      <ul>
          <h1>CLASSROOMS</h1>
          <br>
                <% if (locals.classrooms) { %>
                  <table>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Capacity
                        </th>
                        <th>
                            Facility
                        </th>
                    </tr>

                    <% locals.classrooms.forEach(function(car) { %>
                      <tr>
                        <td><strong><%= car.id %></strong> </td>
                        <td><strong><%= car.name %></strong></td>
                        <td><strong><%= car.capacity %></strong></td>
                        <td><strong><%= car.facility %></strong></td>
                    </tr>
                    <% }); %>
                  </table> 
                <% } %>
            </ul>
        </div>

<div class="parent-div">
  <div class="child-div">
    <form action="/process_form_delete_classroom" method="post" class="jumbotron" style="background-color:powderblue;height: 330px;">
        <h1 style="font-size:200%">DELETE CLASSROOM</h1>
        <br>
        <div style="text-align:left">
          <div class="control-group">
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">ID To Delete</label>
                <input name="id" type="text" class="form-input to" placeholder="ID" id="id" required data-validation-required-message="Please enter the ID.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
              <input class ="btn-primary" type="submit">  
            </div>
            <br>
        </form>
    </div>
  </div>


<div class="parent-div">
  <div class="child-div">
    <form action="/process_form_update_classroom" method="post" class="jumbotron" style="background-color:powderblue;height: 430px;">
        <h1 style="font-size:200%">UPDATE CLASSROOM</h1>
        <br>
        <div style="text-align:left">
          <div class="control-group">
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">ID To Update</label>
                <input name="id" type="text" class="form-input to" placeholder="ID" id="id" required data-validation-required-message="Please enter the ID.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">CAPACITY To Update</label>
                <input name="capacity" type="text" class="form-input to" placeholder="CAPACITY" id="capacity" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">NAME To Update</label>
                <input name="name" type="text" class="form-input to" placeholder="NAME" id="name" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">FACILITY To Update</label>
                <input name="facility" type="text" class="form-input to" placeholder="FACILITY" id="facility" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
              <input class ="btn-primary" type="submit">  
            </div>
            <br>
      </form>
  </div>
</div>

  <div class="parent-div">
    <div class="child-div">
    <form action="/process_form_create_classroom" method="post" class="jumbotron" style="background-color:powderblue;height: 400px;">
        <h1 style="font-size:200%">CREATE CLASSROOM</h1>
        <br>
        <div style="text-align:left">
          <div class="control-group">
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">Capacity</label>
                <input name="capacity" type="text" class="form-input to" placeholder="Capacity" id="capacity" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">Name</label>
                <input name="name" type="text" class="form-input to" placeholder="NAME" id="name" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group floating-label-form-group controls" style="background-color:powderblue;">
                <label style="color:rgb(63, 93, 97);">Facility</label>
                <input name="facility" type="text" class="form-input to" placeholder="FACILITY" id="facility" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
              <input class ="btn-primary" type="submit">  
            </div>
        </form>
        </div>
      </div>



</main>

</body>
</html>